[Unit]
Description=Run DatasetIA Worker Watchdog every 10 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=datasetIA_worker@%i.service

[Install]
WantedBy=timers.target